* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#__next {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font-standard;
    font-weight: 600;
}